.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.box-calc {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.linha {
  display: flex;
}

div#bloco {
  display: flex;
  height: 50%;
}

.coluna {
  display: flex;
  flex-direction: column;
  width: 100%;
}

Input#input-memoria {
  display:flex;
  width: 100%;
}

